@import '../../shared-styles/index';

.keypad {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }

  button {
    transition: all $transition-super-quick $ease;
    width: $button-size;
    height: $button-size;
    border-radius: $button-size;
    text-align: center;
    background: $button-background;
    padding-top: 1px;
    cursor: pointer;

    &:active, &.isActive {
      background: $button-background-active;
    }

    .number, .letters {
      display: block;
      color: $button-text-color;
    }

    .number {
      font-size: $font-size-xl;
      line-height: $font-size-xl * 0.55;
      font-family: $medium-font;
    }

    .letters {
      font-size: $font-size-small;
      font-family: $light-font;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }
}
