@import '../../shared-styles/index';

html, body {
  background: $body-background;
  padding: 0 24px;
}

.app {
  font-family: $body-font;
  color: $body-color;
  padding: $nav-height 0 24px;
  height: 100vh;

  .content {
    @include center-content;
    @include center-both;
    height: 100%;
  }

  .message {
    margin-top: 30px;
    flex-grow: 1;
  }

  .input {
    margin-top: 24px;
  }

  .keypad {
    width: 100%;
    max-width: 280px;
    flex-shrink: 0;
  }
}
