$content-width: 600px;

$mobile-width: 400px;
$desktop-width: $content-width;

$padding: 15px;

$border-color-light: rgba(255, 255, 255, 0.5);
$border-color-dark: #5B738F;

$nav-height: 39px;
$nav-background: transparent;
$nav-color: #fff;
$nav-border-bottom-color: $border-color-light;

$light-font: "DINNextLTPro-UltraLight", "Helvetica", sans-serif;
$medium-font: "DINNextLTPro-Light", "Helvetica", sans-serif;
$bold-font: "DINNextLTPro-Medium", "Helvetica", sans-serif;

$body-background: linear-gradient(-133deg, #7F4F47 0%, #5C423D 69%);;
$body-color: #fff;
$body-font: $medium-font;

$link-color: #ADBAC9;

$modal-background: #fff;
$modal-color: $link-color;

$transition-quick: 300ms;
$transition-super-quick: 50ms;
$ease: ease-in-out;

$font-size-xs: 0.8em;
$font-size-small: 1em;
$font-size-medium: 1.25em;
$font-size-large: 1.5em;
$font-size-xl: 2em;

$form-input-placeholder-color: #BFBFBF;
$form-input-label-color: $form-input-placeholder-color;
$form-input-text-color: #3F3F3F;
$form-input-height: 80px;
$form-input-font-size: $font-size-large;

$menu-active-background-color: rgba(255, 255, 255, 0.2);
$menu-width: 55px;
$menu-height: 40px;
$menu-font-size: 30px;
$menu-item-height: 26px;

$button-size: 70px;
$button-background: rgba(255, 255, 255, 0.6);
$button-background-hover: rgba(255, 255, 255, 0.8);
$button-background-active: rgba(255, 255, 255, 1);
$button-text-color: $form-input-text-color;
