@import '../../shared-styles/index';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 5px;
  height: $nav-height;
  background: $nav-background;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding-top: 10px;

  .content {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $nav-border-bottom-color;
    width: 100%;
    transition: right $transition-quick $ease;
    height: $nav-height - 14px;
  }

  .logo {
    flex-grow: 1;
    color: $nav-color;
    text-decoration: none;
    margin-bottom: 6px;
  }

  .mascot {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .menu {
    position: relative;
    top: -4px;
  }
}
