@import '../../shared-styles/index';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 5px;
  height: $nav-height;
  background: $nav-background;
  border-bottom: 2px solid $nav-border-bottom-color;
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  .content {
    display: flex;
    align-items: center;
    padding: 0 24px;
    position: relative;
    top: 6px;
    @include center-content;
  }

  .logo {
    flex-grow: 1;
    color: $nav-color;
    text-decoration: none;
    margin-bottom: 6px;
  }

  .menu {
    flex-grow: 0;
  }
}
