@import '../../shared-styles/index';

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  @include blinking-cursor($message-color, 2px, 1000ms);

  span {
    font-family: $light-font;
    color: $message-color;
    margin-right: 0.3em;
    margin-bottom: 0.3em;

    &:last-child {
      margin-right: 0;
    }
  }
}
