@import '../../shared-styles/index';

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  span {
    font-family: $light-font;
    color: $message-color;
    margin-right: 12px;
    margin-bottom: 12px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
      @include blinking-cursor($message-color, 2px, 1000ms);
    }
  }
}
